{% extends 'base.html' %}
{% block head %}
    {{ block.super }}
     <style id="e1806987-14ac-472b-b58f-40da07bc3148">
    .pb-toast-main {
      z-index: 2147483639 !important;
      position: fixed !important;
      top: -50px !important;
      left: 0px !important;
      width: 100% !important;
      height: 44px !important;
      border: none !important;
      box-shadow: 0 1px 0 0 #b6b4b6 !important;
      transition: top 0.3s;
    }

    .pb-toast-main-move {
      top: 0px !important;
    }

    .pb-toast-main-show {
      transition: none;
      top: 0px !important;
    }
    #pb_jq_tipsWrapper {
      position: fixed !important;
      width: 230px !important;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
      font-family: "Lucida Grande", tahoma, verdana, arial, sans-serif !important;
      border-radius: 5px !important;
      color: #ffffff !important;
      z-index: 2147483641 !important;
      padding: 15px !important;
      font-size: 14px !important;
    }

    #pb_jq_tipsWrapper:before {
      position: absolute !important;
      top: -10px !important;
      right: 60px !important;
      display: inline-block !important;
      border-right: 10px solid transparent !important;
      border-bottom: 10px solid #000 !important;
      border-left: 10px solid transparent !important;
      border-bottom-color: rgba(0, 0, 0, 0.2) !important;
      content: '' !important;
    }

    #pb_jq_tipsWrapper:after {
      position: absolute !important;
      top: -9px !important;
      right: 60px !important;
      display: inline-block !important;
      border-right: 9px solid transparent !important;
      border-bottom: 9px solid #000 !important;
      border-left: 9px solid transparent !important;
      content: '' !important;
    }

    #pb-link-copied-message {
      display: none;
      position: fixed;
      width: 90px;
      height: 29px;
      opacity: 0;
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 2147483641;
      font-family: "Lucida Grande", tahoma, verdana, arial, sans-serif !important;
      font-size: 13px;
      line-height: 29px;
      text-align: center;
      color: #ffffff;
    }
    .echarts{
      padding: 20px;
      width: 100%;
      height: 400px;
    }
    </style>

{% endblock %}
{% block content %}
<div class="ui compact menu">
 <div class="ui simple dropdown item" style="position: relative;padding: 0">
        <style>
          .ui.dropdown #left_nav {
            display: block !important;
            opacity: 1 !important;
            width: auto !important;
            height: auto !important;
            left: -134px !important;
            top: 0px !important;
          }
        </style>
    <div class="menu" id="left_nav">
	{% for name in names %}
      <div class="item"><a href="?name={{ name.name }}">{{ name.name }}</a></div>
	 {% endfor %}

    </div>
  </div>
</div>

<div class="echarts" id="echarts"></div>
    <div class="ui text container">
        <div class="ui segments">
            <div class="ui segment">
            </div>
            <div class="ui segments">
                <div class="ui segment">
                <p>当前总量：<span>{{ tdata }}</span></p>
              </div>
              <div class="ui segment">
                <p>昨日总量：<span>{{ ydata }}</span></p>
              </div>
                <div class="ui segment">
                <p>当前增量：<span>{{ updata }}</span></p>
              </div>
        </div>
        </div>

    </div>
                <br>
            <br>
{% endblock %}
{% block foot %}
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
  <script type="text/javascript">
     var dom = document.getElementById("echarts");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;

    data = {{ data|safe }}
    var dateList = data.map(function (item) {
        return item[0];
    });
    var valueList = data.map(function (item) {
        return item[1];
    });
       //console.log(dateList,valueList)
    option = {

        // Make gradient line here
        visualMap: [{
            show: false,
            type: 'continuous',
            seriesIndex: 0,
            min: 0,
            max: 400
        }],

        title: [{
            left: 'center',
            text: '{{ cname|safe }}'
        }],
        tooltip: {
            trigger: 'axis'
        },
        xAxis: [{
            data: dateList
        }],
        yAxis: [{
            splitLine: {show: false}
        }],
        grid: [{
            bottom: '10%'
        }],
        series: [{
            type: 'line',
            showSymbol: false,
            data: valueList
        }]
    };;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

   </script>
{% endblock %}
